<div class="text-box">
  <div class="faq">
    <b>What is the nullinside bot?</b> nullinside is a bot that joins your Twitch chat to automatically detect and
    ban unwanted bots from your channel. These banned bots have a variety of goals including:
    <ul>
      <li>Typing spam messages</li>
      <li>Advertising services in your channel</li>
      <li>Posting links to malicious sites</li>
      <li>Posting offensive messages</li>
      <li>Executing Hate Raids</li>
    </ul>
  </div>
  <div class="faq">
    <b>Features</b>
    <ul>
      <li>
        <b>Ban Known Bots:</b> Bans known bot accounts. Bot accounts are detected through a variety of means, including
        chat messages and known bot lists. These are accounts that are verified bots that enter a twitch chat uninvited.
      </li>
      <!--      <li>-->
      <!--        <b>Ban Hate Follows:</b> Hate Follows, or Hate Raids, are when hundreds or thousands of bot accounts-->
      <!--        follow you at the same time in order to overwhelm your stream notifications. Imagine your follower-->
      <!--        notification being backed up with 1000+ new follows, going off over and over again. Twitch does not-->
      <!--        give us integration points that allow us to prevent this behavior. However, we can reactive to the-->
      <!--        behavior after the fact. With this setting turned on nullinside will ban all Hate Follow/Hate Raid accounts-->
      <!--        after an attack.-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <b>Ban Accounts Less than 24 Hours Old:</b> Detects that age of accounts that follow you. If the-->
      <!--        account is less than 24 hours old, it bans the account from your channel. This setting can be desirable-->
      <!--        to prevent malicious individuals from creating new accounts in order to spam or type hateful messages-->
      <!--        in your chat.-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <b>Put Chat in Emote Only When I Go Offline:</b> A malicious method of getting accounts banned is to-->
      <!--        type hateful messages into a streamer's chat once they go offline when there are no moderators to take-->
      <!--        action. A way of preventing this is to automatically put your chat into emote-only mode when your-->
      <!--        channel goes offline. With this setting, nullinside will take care of putting your channel into emote-only-->
      <!--        mode when you go offline and removing emote-only mode when you go online. It typically takes ~1 minute-->
      <!--        for nullinside to notice you've gone online once you hit the start stream button.-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <b>Put Chat in Sub Only When I Go Offline:</b> This is the same as the above setting except it places-->
      <!--        your chat into Sub Only mode instead. This can be desirable if you and your subs like chatting in-->
      <!--        offline chat.-->
      <!--      </li>-->
    </ul>
  </div>
  <div class="faq">
    <b>So this is the only bot I need?</b> No. nullinside is meant to <b>help</b> moderate your channel. Its always a
    good idea to use a variety of tools to keep yourself and your community safe. Twitch has a variety of
    moderation tools built-in that you should explore and configure. In addition, there are other bots available
    that can also help secure your channel, such as Sery_Bot.
  </div>
</div>
