.google-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.g_id_signin,
g_id_onload {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.logo-container {
  height: 50px;
  width: 325px;
  padding-bottom: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.index-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
