@use '../../../../common/constants' as *;

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.carousel-container {
  overflow: hidden;
  flex: 1;
  padding: 16px;
}

.nav-button {
  cursor: pointer;

  z-index: 10;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;

  color: $font-color;

  background: rgba(0, 0, 0, 0.6);

  transition: background-color 0.3s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  &.prev {
    margin-right: 10px;
  }

  &.next {
    margin-left: 10px;
  }

  .arrow-left, .arrow-right {
    display: inline-block;

    width: 8px;
    height: 8px;
    padding: 3px;
    border: solid $font-color;
    border-width: 0 3px 3px 0;
  }

  .arrow-left {
    transform: rotate(135deg);
    margin-left: 4px;
  }

  .arrow-right {
    transform: rotate(-45deg);
    margin-right: 4px;
  }
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 1s ease-in-out;
}

.stream-box {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  border-radius: 8px;

  background: #2c2c2e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  .preview-container {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .view-count {
    pointer-events: none;

    position: absolute;
    bottom: 8px;
    left: 8px;

    padding: 2px 8px;
    border-radius: 4px;

    font-size: 13px;
    font-weight: 900;
    color: $font-color;

    background: rgba(0, 0, 0, 0.5);
  }

  .live {
    pointer-events: none;

    position: absolute;
    top: 8px;
    left: 8px;

    padding: 2px 8px;
    border-radius: 4px;

    font-size: 13px;
    font-weight: 900;
    color: $font-color;

    background: red;
  }

  .uptime {
    pointer-events: none;

    position: absolute;
    top: 8px;
    right: 8px;

    padding: 2px 8px;
    border-radius: 4px;

    font-size: 13px;
    font-weight: 900;
    color: $font-color;

    background: rgba(0, 0, 0, 0.5);
  }

  .stream-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;

    padding: 8px;

    background: rgba(0, 0, 0, 0.5);
  }

  .stream-info > .title {
    font-weight: 900;
  }

  .stream-info > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
