@use "../../../common/constants" as *;

.page-container {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.page-container > h2 {
  text-align: center;
}

.filter-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  padding: 10px;
  border-color: $font-color;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px 5px 0 0;

  background-color: #434239;
}

.filter-wrapper > mat-form-field {
  flex: 1;
}

@media (max-width: 400px) {
  .filter-wrapper {
    display: none;
  }
}
