@import "../../common/constants";

.g_id_signin,
g_id_onload {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.side-by-side {
  display: inline-block;
  vertical-align: middle;
}
