<div class="container">
  <div class="header">
    <div class="back-button">
      <button mat-stroked-button color="primary" (click)="onBackButton()">< Back</button>
    </div>
    <h2>Feedback Details</h2>
    <div class="status-button-container">
      @if (isAdmin() && feedback(); as f) {
        @if (f.status === ContactUsFeedbackStatus.Open) {
          <button mat-stroked-button
                  color="primary"
                  class="completed"
                  (click)="onUpdateFeedback(f, ContactUsFeedbackStatus.Completed)">
            Complete
          </button>
          <button mat-stroked-button
                  color="primary"
                  class="closed"
                  (click)="onUpdateFeedback(f, ContactUsFeedbackStatus.Closed)">
            Close
          </button>
        } @else {
          <button mat-stroked-button
                  color="primary"
                  (click)="onUpdateFeedback(f, ContactUsFeedbackStatus.Open)">
            Re-open
          </button>
        }
      }
    </div>
  </div>

  @if (feedback(); as f) {
    <div class="feedback-card">
      <div class="feedback-header">
        <span class="product-tag">Product: {{ f.product }}</span>
        <span class="timestamp">{{ f.timestamp | timestamp }}</span>
      </div>
      <div class="feedback-status">
        <span class="status">Status: {{ f.status }}</span>
      </div>
      <div class="feedback-message">
        <span>{{ f.message }}</span>
      </div>
    </div>

    <div class="comments-section">
      <h3>Comments</h3>
      @for (comment of f.comments; track comment.id) {
        <div class="comment-card">
          <div class="comment-header">
            <span class="comment-user">From: {{ comment.user }}</span>
            <span class="comment-timestamp">{{ comment.timestamp | timestamp }}</span>
          </div>
          <div class="comment-message">
            <span>{{ comment.message }}</span>
          </div>
        </div>
      } @empty {
        <p>No comments.</p>
      }
    </div>

    <div class="new-comment-section">
      @if (error() !== '') {
        <div class="error-banner">{{ error() }}</div>
      }

      <h3>Add a Comment</h3>
      <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()" class="form">
        <div>
          <mat-form-field appearance="outline" class="fillable">
            <mat-label>Comment</mat-label>
            <textarea class="text-area" matInput formControlName="message" cdkTextareaAutosize required></textarea>
            @if (commentForm.get('message')?.hasError('required')) {
              <mat-error>Please enter a comment</mat-error>
            }
          </mat-form-field>
        </div>
        @if (loading()) {
          <app-loading-icon class="center" fontSize="16px" height="30px" width="30px"></app-loading-icon>
        } @else {
          <div class="center">
            <button matButton="tonal" type="submit" [disabled]="!commentForm.valid">Post Comment</button>
          </div>
        }
      </form>
    </div>
  } @else if (error() === '') {
    <app-loading-icon class="center" fontSize="16px" height="30px" width="30px">
      Loading feedback details...
    </app-loading-icon>
  }
</div>
