<div class="layout-logo-box">
  <app-logo/>

  <div class="menu-bar">
    @for (app of appService.apps(); track app.displayName) {
      <button
        [matButton]="app.highlightedUrls?.some(highlightedUrl => url().startsWith(highlightedUrl)) || (url() === '/' && app.isDefault) ? `tonal` : `outlined`"
        (click)="onAppClicked(app)">
        {{ app.displayName }}
      </button>
    }
  </div>

  <div class="right-section">
    <button [matButton]="url().startsWith('/contact-us/') || url() === '/contact-us' ? `tonal` : `outlined`"
            (click)="onContactUs()">
      Contact Us
    </button>
    @if (auth.userIsLoggedIn()) {
      <button matButton="outlined" (click)="onLogout()">Logout</button>
    } @else {
      <button [matButton]="url().startsWith('/user/auth') ? `tonal` : `outlined`"
              (click)="onLogin()">
        Login
      </button>
    }
  </div>
</div>
