.layout-logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
  flex-wrap: wrap;
}

app-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 10px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 10px;
}

.menu-button {
  min-width: 125px;
}
