.layout-logo-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin: 0 10px 10px 10px;
}

app-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  padding-top: 10px;
}

.right-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

  padding-top: 10px;
}

.menu-button {
  min-width: 125px;
}

/* Mobile */
@media (max-width: 600px) {
  .layout-logo-box {
    flex-direction: column;
    justify-content: center;
  }

  .menu-bar {
    justify-content: center;
  }
}
