@use "../../../common/constants" as *;

.twitch-login-button {
  cursor: pointer;

  align-content: center;

  width: 200px;
  height: 40px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;

  font-weight: 900;
  color: $background-color;
  text-align: center;
  vertical-align: middle;

  background: rgb(191, 148, 255);
}

.side-by-side {
  display: inline-block;
  vertical-align: middle;
}
