.container {
  min-width: 500px;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.back-button, .spacer {
  flex: 1;
  min-width: 120px;
}

.explanation {
  padding: 0 10px;
  text-align: justify;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > h2 {
  text-align: left;
}

.form {
  padding: 10px;
}

.fillable {
  width: 100%;
}

.message {
  height: 100%;
}

.text-area {
  min-height: 300px;
  max-height: 300px;
}

.error-banner {
  width: auto;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 20px;
}
