.channel-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.channel-name {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.channel-selected {
  color: #eae5c8;
  text-decoration: underline;
}
