<div class="list-container">
  <div class="list-title">{{ listTitle() }}</div>
  <div class="list">
    @for (item of list(); track item) {
      <div animate.enter="enter"
           animate.leave="leave"
           class="item"
           [matTooltip]="item.tooltip"
           matTooltipPosition="left">
        @if (!item.title) {
          {{ item.text }}
        } @else {
          <div class="side-by-side">
            <div class="item-title">{{ item.title }}</div>
            <div>{{ item.text }}</div>
          </div>
        }
      </div>
    }
  </div>
</div>
