.list-container {
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 8px;

  background: rgba(0, 0, 0, 0.1);
}

.list-title {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  font-weight: 900;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  overflow: hidden;

  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;

  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  background: rgba(255, 255, 255, 0.05);
}

.enter {
  opacity: 0;
  animation: enter-animation 300ms ease-out forwards;
}

@for $i from 1 through 10 {
  .item:nth-child(#{$i}) {
    &.enter {
      animation-delay: #{$i * 100}ms;
    }
  }
}

.leave {
  animation: leave-animation 300ms ease-in forwards;
}

@keyframes enter-animation {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes leave-animation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50px);
    opacity: 0;
  }
}

.side-by-side {
  display: flex;
}

.item-title {
  font-weight: 900;
}
