@use "../../../common/constants";

.g_id_signin,
g_id_onload {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.side-by-side {
  display: inline-block;
  vertical-align: middle;
}
