/************************************************************/
/* BOILERPLATE MATERIAL CODE                                */
/************************************************************/

// Imports for other components in your app.
@use "app/common/constants" as *;

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'material-theme-colors' as theme;

html {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: $background-color;
  color: $font-color;
  font: $font-color;

  // Reset the user agent margin.
  margin: 0;
}

/************************************************************/
/* END: BOILERPLATE MATERIAL CODE                           */
/************************************************************/

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:link {
  color: $font-color;
  font-weight: bolder;
}

a:visited {
  color: #A5A18DFF;
}

a:hover {
  color: #EAE5C8FF;
}

a:active {
  color: $font-color;
}

h1 {
  font-size: 24px;
  letter-spacing: normal;
  margin: 0;
  font-weight: bold !important;
  border-bottom: 1px solid $font-color;
}

.mdc-form-field {
  color: $font-color !important;
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

/************************************************************/
/* BANNERS                                                  */
/* COMMON BANNERS YOU CAN USE THROUGHOUT                    */
/************************************************************/

.error-banner {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  background: #5d0000;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

.info-banner {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: $background-color;
  background: $font-color;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

/************************************************************/
/* CENTERED BOX                                             */
/* A LAYOUT WHERE EVERYTHING IS IN THE CENTER OF THE SCREEN */
/* FOR "MINIMAL" PAGES                                      */
/************************************************************/
.centered-box {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.centered-box_logo-container {
  height: 50px;
  width: 335px;
  padding-bottom: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.centered-box_content-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/************************************************************/
/* REGULAR LAYOUT                                           */
/* A NORMAL, TITLE WITH CONTENT LAYOUT (NO MENU)            */
/************************************************************/
.layout-logo-box {
  height: 60px;
  padding-top: 10px;
  padding-left: 5px;
}

.layout-content {
  left: 5px;
  right: 5px;
  width: 100%;
}

/************************************************************/
/* MISC                                                     */
/************************************************************/
// A blinking border for on hover.
.hover-border-blink {
  border: 1px $font-color solid;
  cursor: pointer;
}

.hover-border-blink:hover {
  border: 1px $font-color solid;
  animation: blink 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes blink {
  50% {
    border-color: $background-color;
  }
}

// A common class fixture for starting a flex container.
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-3-column-even {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
  padding: 10px;
  margin: 10px;
}

// Center content horizontally
.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.no-select {
  user-select: none;
}

.snackbar-success {
  --mat-snackbar-container-color: rgba(0, 109, 0, 0.48);
  --mat-mdc-snack-bar-button-color: $font-color;
  --mdc-snackbar-supporting-text-color: $font-color;
}

.snackbar-failure {
  --mdc-snackbar-container-color: rgba(109, 0, 0, 0.48);
  --mat-mdc-snack-bar-button-color: $font-color;
  --mdc-snackbar-supporting-text-color: $font-color;
}
