@use "../../../../common/constants" as *;

.feedback-wrapper {
  margin-top: -1px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border-color: $font-color;
  border-width: 1px;
  border-style: solid;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback-card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba($font-color, 0.2);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.feedback-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  color: $font-color;
  padding: 0;
  margin: 0;
}

.feedback-header > p {
  margin: 0;
  padding: 0;
}

.feedback-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba($font-color, 0.8);
}

.feedback-comments {
  text-align: right;
}

.no-feedback {
  text-align: center;
  color: rgba($font-color, 0.6);
  font-style: italic;
  margin-top: 20px;
}
