<app-standard-banner/>

@if (!loading()) {
  @if (!error()) {
    @if (apps().length > 0) {
      <div class="layout-content flex-container">
        @for (app of apps(); track app.displayName) {
          <div class="app hover-border-blink" (click)="onAppClicked(app.displayName)"
               (keyup.enter)="onAppClicked(app.displayName)" tabindex="0">
            <h1>{{ app.displayName }}</h1>
            <p>{{ app.description }}</p>
          </div>
        }
      </div>
    } @else {
      <div class="layout-content bye">
        <div class="info-banner">
          Sorry, there are no applications available to you at this time.
        </div>
      </div>
    }
  } @else {
    <div class="error-banner">
      {{ error() }}
    </div>
  }
} @else {
  <app-loading-icon class="center" fontSize="32px" height="45px" width="45px">Getting Available Apps</app-loading-icon>
}
