<div class="page-container">
  <h2>Contact Us</h2>
  <div class="info">
    <p>
      Welcome! We’re glad you’re here. Your feedback helps us improve, so feel free to share your thoughts, questions,
      or concerns. If you’re reporting an issue, please include as much detail as possible so we can look into it and
      get back to you.
    </p>
    <p>Feedback may be submitted for this website as well as any nullinside desktop applications.</p>
    <p>Thank you for all your support!</p>
  </div>
  @if (submittedFeedback()) {
    <div class="success-banner">Feedback Received! Thank you for your feedback!</div>
  }
  <div class="button-wrapper">
    <button class="buttons" matButton="tonal" (click)="onCreateFeedback()">Send Feedback</button>
  </div>
  <app-contact-us-list [isAdmin]="false"></app-contact-us-list>
</div>
