@if (error()) {
  <div class="layout-content">
    <div class="error-banner">
      {{ error() }}
    </div>
  </div>
}

@if (!loading() && vms().length > 0) {
  <div class="layout-content flex-container">
    @for (vm of vms(); track vm.id) {
      <mat-card class="vm-card flex-3-column-even">
        <mat-card-header>
          <mat-card-title>{{ vm.name }}</mat-card-title>
          <mat-card-subtitle>
            <div class="status-container">
              <mat-icon
                aria-hidden="true"
                [style.color]="vm.isOnline ? '#4caf50' : '#f44336'"
                [fontIcon]="vm.isOnline ? 'fiber_manual_record' : 'fiber_manual_record'"/>
              <span class="status-text">{{ vm.isOnline ? 'Online' : 'Offline' }}</span>
            </div>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <span class="vm-description">{{ vm.notes }}</span>
        </mat-card-content>

        <mat-card-actions align="end">
          @if (vm.isRunning) {
            <app-loading-icon fontSize="20px" height="30px" width="30px"/>
          } @else {
            <button mat-stroked-button color="primary"
                    [color]="vm.isOnline ? 'warn' : 'primary'"
                    (click)="onSwitchPower(vm.id, !vm.isOnline)"
                    [aria-label]="vm.isOnline ? 'Turn Off ' + vm.name : 'Turn On ' + vm.name">
              <mat-icon [fontIcon]="vm.isOnline ? 'power_settings_new' : 'power_settings_new'"/>
              {{ vm.isOnline ? 'Turn Off' : 'Turn On' }}
            </button>
          }
        </mat-card-actions>
      </mat-card>
    }
  </div>
} @else if (!loading() && vms().length === 0) {
  <div class="layout-content">
    <div class="info-banner">
      Sorry, there are no virtual machines found.
    </div>
  </div>
} @else if (!error()) {
  <div class="layout-content" style="text-align: center">
    <app-loading-icon fontSize="24px" height="35px" width="35px">Getting VMs...</app-loading-icon>
  </div>
}
