<div class="layout-logo-box">
  <app-logo />
</div>

@if (error) {
  <div class="layout-content">
    <div class="error-banner">
      {{ error }}
    </div>
  </div>
}

@if (vms && vms.length > 0) {
  <div class="layout-content flex-container">
    @for (vm of vms; track vm.id) {
      <div class="flex-3-column-even">
        <h1>
          {{ vm.name }}
          @if (!vm.isRunning) {
            <mat-icon aria-hidden="false"
                      aria-label="status"
                      [style.color]="vm.isOnline ? 'green' : 'grey'"
                      [fontIcon]="vm.isOnline ? 'radio_button_checked' : 'radio_button_unchecked'"
                      [matTooltip]="vm.isOnline ? 'Online' : 'Offline'" />
            <mat-icon aria-hidden="false"
                      aria-label="action"
                      (click)="onSwitchPower(vm.id, !vm.isOnline)"
                      (keyup.enter)="onSwitchPower(vm.id, !vm.isOnline)"
                      tabindex="0"
                      [style.cursor]="'pointer'"
                      [fontIcon]="vm.isOnline ? 'power_off' : 'power_settings_new'"
                      [matTooltip]="vm.isOnline ? 'Turn Off' : 'Turn On'" />
          } @else {
            <app-loading-icon fontSize="24px" height="35px" width="35px" marginHack="-25px" />
          }
        </h1>
        <p>{{ vm.notes }}</p>
      </div>
    }
  </div>
} @else if (vms && vms.length === 0) {
  <div class="layout-content">
    <div class="info-banner">
      Sorry, there are no virtual machines found.
    </div>
  </div>
} @else if (!error) {
  <div class="layout-content" style="text-align: center">
    <app-loading-icon fontSize="24px" height="35px" width="35px" marginHack="-25px">Getting VMs...</app-loading-icon>
  </div>
}
