.twitch-bot-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

app-animated-list {
  display: block;
  max-height: 385px;
  overflow: hidden;
  width: 100%;
}

.top-section {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.bottom-layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
  justify-items: start;
}

.faq-section {
  width: fit-content;
  margin-left: auto;
}

.list-section {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.spacer {
  display: block;
}

app-loading-icon {
  margin: 20px 0;
}

.title-live {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .content-grid {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }

  .spacer {
    display: none;
  }
}
