@use "../../../common/constants" as *;

.text-box {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-color: $font-color;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.save {
  text-align: right;
}

.item {
  margin-top: 5px;
}

.mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.faq {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
